.form-clear{
	border-color: var(--blue);
}

.form-error{
	border-color: var(--danger)
}

.form-msg{
	display: inline-block;
	box-sizing: content-box;
	font-size: 80%;
	padding-top: 0.5rem;
	padding-left: 0.8rem;
}

.form-msg-clear{
	color: var(--blue);
}

.form-msg-error{
	color: var(--danger);
}

.form-msg-hidden{
	display:none;
}